$mainColor: #878C8F; 
$backgroundColor: #f5f5f5;
$textColor: #303633;

*{
    margin: 0;
    padding: 0;
    color: $textColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: $backgroundColor;
}
input{

}
